[Unit]
Description=Mailbox synchronization service
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=~/.bin/checkmail
ExecStartPost=/usr/bin/notmuch new
StandardOutput=syslog
StandardError=syslog
