#include ".Xresources.d/rxvt-unicode"

!---------------------------------------
! Xft settings
!---------------------------------------
! HiDPI for XPS15

!Xft.dpi: 192
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintlight
!Xft.hinting: true
!Xft.antialias: true
!Xft.rgba: rgb

!---------------------------------------
! Dracula Theme
!---------------------------------------
! Dracula Xresources palette

*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

!---------------------------------------
!  ZenBurn Theme - via Base16
!---------------------------------------
! #define base00 #3f3f3f
! #define base01 #404040
! #define base02 #606060
! #define base03 #4f4f4f
! #define base04 #808080
! #define base05 #dcdccc
! #define base06 #c0c0c0
! #define base07 #ffffff
! #define base08 #dca3a3
! #define base09 #dfaf8f
! #define base0A #e0cf9f
! #define base0B #5f7f5f
! #define base0C #93e0e3
! #define base0D #7cb8bb
! #define base0E #dc8cc3
! #define base0F #000000

! *foreground:   base05
! #ifdef background_opacity
! *background:   [background_opacity]base00
! #else
! *background:   base00
! #endif
! *cursorColor:  base05

! *color0:       base00
! *color1:       base08
! *color2:       base0B
! *color3:       base0A
! *color4:       base0D
! *color5:       base0E
! *color6:       base0C
! *color7:       base05

! *color8:       base03
! *color9:       base08
! *color10:      base0B
! *color11:      base0A
! *color12:      base0D
! *color13:      base0E
! *color14:      base0C
! *color15:      base07

! ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! ! use 'shell' template to set these if necessary
! *color16:      base09
! *color17:      base0F
! *color18:      base01
! *color19:      base02
! *color20:      base04
! *color21:      base06


!---------------------------------------
! Rofi
!---------------------------------------

!rofi.font: San Francisco Text 20
!rofi.lines: 7
!rofi.matching: fuzzy
!rofi.location: 7 !https://github.com/DaveDavenport/rofi/wiki/WindowPosition
!rofi.color-enabled: true
