[submodule "aesthetics"]
	path = aesthetics
	url = git@github.com:k-f-/aesthetics.git
[submodule "kitty/dot-config/kitty/kitty_search"]
	path = third_party/kitty-kitten-search
	url = https://github.com/trygveaa/kitty-kitten-search
[submodule "agr-cli"]
	path = agr-cli
	url = git@github.com:k-f-/agr-cli.git
