zsh/.zshrc.d/plugins/
.ssh/
.gnupg/
undo-tree/
backup/
elpa/
emacs/.emacs.d/url/
auto-save-list
ido.last
smex-items
places
recentf
history
*.swp
*.log
*.wants
__pycache__
ranger/.config/ranger/plugins/
mpd/.config/mpd/database
mpd/.config/mpd/mpd.log
mpd/.config/mpd/pid
mpd/.config/mpd/playlists
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
.zcompdump-*
.DS_Store

# Dynamic theme symlinks (updated by toggle-theme)
kitty/.config/kitty/theme.conf
