#include ".Xresources.d/rxvt-unicode"

! HiDPI for XPS15

Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!---------------------------------------
! Dracula Theme
!---------------------------------------
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:	  #E6E6E6

!---------------------------------------
! Rofi
!---------------------------------------

rofi.font: San Francisco Display 24
rofi.color-enabled: true
rofi.color-window: #16161d, #e2e2e9, #2c2c3a
rofi.color-normal: #16161d, #e2e2e9, #2c2c3a, #f0f0f4, #16161d
rofi.color-active: #16161d, #e2e2e9, #2c2c3a, #f0f0f4, #16161d
rofi.color-urgent: #002b37, #e2e2e9, #003642, #f0f0f4, #16161d